<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>投稿一覧</h1>
      <%= link_to "投稿する", new_post_path, class: 'btn btn-default' %>
    </br>
    <% @posts.each do |post| %>
    <div class="row data">
      <ul type="circle">
        <li><h4><strong><%= post.title %></strong></h4></li>
        <li><p><%= post.content %></p></li>
        <li><%= image_tag post.image_url %></li>
        <li><%= post.user.name %></li>
      </ul>
      <br/>
      <p><%= link_to "編集", edit_post_path(post.id), class: 'btn btn-default btn-sm btn-success' %></p>
      <p><%= link_to "削除", post_path(post.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %></p>
    </div>
    <% end %>
  </div>
</div>
